/* Estilo general */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
  padding: 20px;
}

/* Título */
h2 {
  text-align: center;
  color: #444;
}
textarea {
  width: 90%;
  max-width: 500px;   /* ancho máximo */
  height: 200px;
  padding: 10px;
  margin: auto;  /* centra horizontalmente */
  display: block;     /* necesario para que margin auto funcione */
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  resize: vertical;
}
button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  margin: 20px auto;   /* centra horizontalmente */
  display: block;      /* necesario para que margin auto funcione */
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}